#menu{
    list-style:none;
    font-family: fantasy;
    float:center;
    top: 10px;
    right: 30px;
    position:fixed;
    text-align: center;
    text-shadow: 30px;
    text-decoration: underline; 
}
.link{
     float:left;
    color: white;
    padding-left: 9px;
    padding-right: 9px;
    
    
}
.link:hover{
    background-color:aqua;
}
body{
    background-color: lemonchiffon;
    text-align: center;
    }


#image{
    border-radius:50%;
    width: 100px;
}

    
}
#image1{
    transition: 0.2s; 
}
img:hover{
    transform: scale(0.9);
}  
#Contacts{
    background: firebrick;
}

    
}
.contacts_1 h3{
    display: inline;
}
#Contacts iframe {
    width: 100%;
}
.contacts_1 a{
    color:white;
    text-shadow: none;
}
a{
    text-decoration: none;
    color:crimson;
    text-shadow: 2px 2px grey;
